* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

.main {
    display: flex;
    flex-flow: column;
    height: 94vh;
    transition: all 1s ease;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5% 0;
}

header img {
    width: 15%;
    max-width: 60px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    margin: 0 1.2vw 0vh 1.2vw;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

nav li:hover {
    color: #4d4d4d;
}

nav li:last-child {
    background-color: #557c3e;
    color: white;
    border-radius: 15px;
    padding: 7px 10px;
    margin: 0 0 0 1.2vw;
    align-self: center;
}

nav li:last-child:hover {
    background-color: #83b94d;
}

.content-main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 90vh;
}

.main h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

.main .broccoli1 {    
    width: 300px;
    align-self: center;
    transition: all 0.5s ease;
}

.main p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.gray {
    height: 94vh;
    transition: all 1s ease;
    background-color: #F6F6F6;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about {
    margin: 20px 0 20px 20px;
}

.about h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    opacity: 0.9;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #828282;
    padding: 0 0x;
    max-width: 200px;
    line-height: 45px;
    display: inline;
}

.about img {
    width: 100%;
    max-width: 400px;
    margin: 4vh 0 1vh 0;
    display: block;
    float: right;
}

.about h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    background-color: #828282;
    padding: 3px;
    min-width: 160px;
    max-width: 142px;
    margin-bottom: 5px;
    display: inline-block;
}

.about .history {
    min-width: 175px;
}

.about p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        opacity: 0.9;
        margin-block-start: 0em;
        margin: 10px 0;
}

.about .paragraf {
    border: red solid 1px;
    margin: 5% 0;
    width: 100%;
}

.paragraf p {
    margin: 0 20px 0 0;
}

footer {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    border-radius: 15px;
    padding: 7px 10px;
    text-align: center;
}

footer img {
    width: 15%;
    max-width: 60px;
}

@media (min-width: 330px) {
    .main li:last-child::after {
            content: " now";
    }

@media (min-width: 600px) {
    .main {
        margin: 20px 60px;
    }

    .main .broccoli1 {
        transform: scale(1.5,1.5);
    }

    h1 {
        margin: 0 0 60px 0;
    }
    
    p {
        margin: 60px 0 0 0;
    }

    .about .paragraf {
        width: 50%;
}

